nav{
    background: pink;
    height: 50px;
}

#banner{
    background: #BCD2EE;
    height: 600px;

}

nav ul{
    list-style:none;
    margin: 0;
    float: right;
    margin-right: 600px;
}

nav ul li,nav .logo{
    display: inline-block;
    line-height: 50px;
    margin-right: 50px;
}

nav ul li a{
    text-decoration:none;
    line-height: 50px;
    color: #FFF;
}
nav .logo{
    float:left;
    margin-left: 10px;
   
    
}
nav .logo a {
    color: #FFF;
    text-decoration:none;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 50px;
}

.hr{
    width: 100%;
    height: 2px;
    margin: 10px auto;
    
   
    
}

#banner .hr{
    background:#FFF;
    height: 2.5px;
    width: 20%;
}

#banner .inner{
    text-align: center;
    margin:0 auto;
    padding: 150px;
    
            
}
.inner h1{
    margin: 0;
    color: #FFF;
}

.inner p{
    color: #FFF;
}

button{
    border: none;
    background: #F08080;
    color:aliceblue;
    padding:10px 30px; 
    font-size:14px;
}
#banner .more{
    margin-top: 200px;
    color: #FFF;
    
}



.green-section{
    background: #40E0D0;
    color: #FFF;
    text-align: center;
    padding: 50px 0 ;
}
.green-section .hr{
    background:#8EE5EE;
    height: 2.5px;
    width: 30%;
}

.green-section .icon-group .icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: aqua;
}

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}

h2{
    font-size: 30px;
}

