.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

*{
    font-family: "Microsoft YaHei","Arial";
}

ul{
    margin:0;
}

header{
    background:  rgba(0,0,0,0.3)
}


nav{
    background: transparent;
    height: 50px;
}

#banner{
    background: transparent;
    height: 600px;

}

nav ul{
    list-style:none;
    margin: 0;
    float: right;
    margin-right: 500px;
}

nav ul li,nav .logo{
    display: inline-block;
    line-height: 50px;
    margin-right: 30px;
}

nav ul li a{
    text-decoration:none;
    line-height: 50px;
    color: #FFF;
}
nav .logo{
    float:left;
    margin-left: 10px;
   
    
}
nav .logo a {
    color: #FFF;
    text-decoration:none;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 50px;
}

.hr{
    width: 100%;
    height: 2px;
    margin: 10px auto;
    
   
    
}

#banner .hr{
    background:#FFF;
    height: 2.5px;
    width: 20%;
}

#banner .inner{
    text-align: center;
    margin:0 auto;
    padding: 150px;
    
            
}
.inner h1{
    margin: 0;
    color: #FFF;
}

.inner p{
    font-size: 20px;
    color: #FFF;
    margin:30px;
    
}

button{
    border: none;
    background: #F08080;
    color:aliceblue;
    padding:10px 30px; 
    font-size:14px;
}
#banner .more{
    margin-top: 200px;
    color: #FFF;
    
}



.green-section{
    background: #40E0D0;
    color: #FFF;
    text-align: center;
    padding: 50px 0 ;
}
.green-section .hr{
    background:#8EE5EE;
    height: 2px;
    width: 60%;
}

.green-section .icon-group .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    /*background-color: aqua;*/
    border: 1px solid aqua;
    transform:rotate(45deg);
    margin:20px;    
}

.icon-group{
    margin-top: 60px;
}
.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}


h1{
    padding: 12px;
    /*border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;*/
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

p{
    font-size: 18px;
    letter-spacing: 1px;
}


.wrapper p{
    font-size: 20px;
    color: #fff;
    padding:10px;
      
}

.gray-section{
    background: #252f34;
    color: #fff;
}
.gray-section .img-section{
    
    width: 45%;
    
}

.img-section img{
    width: 100%;
}

.gray-section .text-section{
    width: 55%;
}

.article-preview >div{
    float: left;
    font-size: 0;
}

.article-preview:nth-child(odd){
   background-color: rgba(255,255,255,0.05);
}

.article-preview:after{
    content: "";
    display: block;
    clear: both;
}

.text-section{
    position: relative;
    left: 50px;
    top:68px;
}


.text-section h2{
    margin-bottom:20px;
}

.text-section .sub-heading{
    font-size:22px;
    margin-top: 0;
}
.text-section p{
    font-size:18px;
    letter-spacing: 1px;
}

.text-section > *{
    max-width: 90%; 
}

.purple-section{
    padding: 80px;
    background: #3f3965;
    color: #fff;
    
}

.purple-section .heading-wrapper{
    text-align: center;
    
}
.purple-section .sub-heading{
    padding: 30px;
}
.purple-section .hr{
    background: #373259;
    width: 60%;
} 
.card{
    float: left;
    width: 50%;
    min-height: 300px;
    padding:50px;
    -webkit-box-sizing: ;
    -moz-box-sizing: ;
    box-sizing: border-box;
    
}
.card:first-child{
    background: rgba(0,0,0,0.04)
}
.card:nth-child(2){
    background: rgba(0,0,0,0.08)
        
}
.card:nth-child(3){
    background: rgba(0,0,0,0.12)
        
}
.card:nth-child(4){
    background: rgba(0,0,0,0.16)
        
}
.card:nth-child(5){
    background: rgba(0,0,0,0.20)
        
}
.card:nth-child(6){
    background: rgba(0,0,0,0.24)
        
}

footer{
    background: #333;
    color: #fff;
    min-height: 200px;
    text-align: center;
    padding: 50px;
    
}

ul.share-group{
    display: block;
    width: 1080px;
    margin: 0 auto;
    
}
.share-group li{
    display: inline-block;
    padding: 10px;
    
}

.copy{
  padding-bottom: 10px;
    
}

.main-wrapper{
    background: #444 url(../img/banner.jpg); 
    background-attachment:fixed; 
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    
    
        
    
        
}


